{% extends 'base.html.twig' %}

{% block title %}Liste des Demandes{% endblock %}

{% block body %}

<h3 class="d-flex justify-content-center">
    Liste des Demandes
</h3>
<table class="table table-striped table-hover text-center">
  <thead>
    <tr>
      <th scope="col">Motif</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for demande in demandes %}
    <tr>
      <td>
        {{
            demande.motif
        }}
      </td>
      <td>
        {{
            demande.date
        }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination d-flex justify-content-center">
    {{ knp_pagination_render(demandes)}}
</div>
{% endblock %}