{% extends 'base.html.twig' %}

{% block title %}Liste des Modules{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 mt-4 d-flex justify-content-around">
    <h2>Liste des Modules</h2>
    <a href="{{ path('app_module.add') }}" class="btn btn-outline-success">
        Insérer un Module
    </a>
</nav>
{% for message in app.flashes('success') %}
 <div class="alert alert-success w-75 text-center mx-auto">
   {{message}}
 </div>
{% endfor %}
<table class="table table-striped table-hover text-center">
  <thead>
    <tr>
      <th scope="col">Libellé Classe</th>
    </tr>
  </thead>
  <tbody>
    {% for module in modules %}
    <tr>
      <td>
        {{
            module.libelleModule
        }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination d-flex justify-content-center">
    {{ knp_pagination_render(modules)}}
</div>
{% endblock %}